In [13]:
import kagglehub
import numpy as np
import pandas as pd
import tqdm
import re 
from unidecode import unidecode

In [14]:
path=kagglehub.dataset_download("thedevastator/tinystories-narrative-classification")
print(path)

C:\Users\Devab\.cache\kagglehub\datasets\thedevastator\tinystories-narrative-classification\versions\2

In [15]:
data=pd.read_csv(r"C:\Users\Devab\.cache\kagglehub\datasets\thedevastator\tinystories-narrative-classification\versions\2\train.csv")

In [16]:
data.head()

                                                text
0  One day, a little girl named Lily found a need...
1  Once upon a time, there was a little car named...
2  One day, a little fish named Fin was swimming ...
3  Once upon a time, in a land full of trees, the...
4  Once upon a time, there was a little girl name...

In [ ]:
def preprocess(text):
    text=text.lower()
    text=unidecode(text)
    text=

0          one day, a little girl named lily found a need...
1          once upon a time, there was a little car named...
2          one day, a little fish named fin was swimming ...
3          once upon a time, in a land full of trees, the...
4          once upon a time, there was a little girl name...
                                 ...
2119714    once upon a time, in a small town, there lived...
2119715    once upon a time, there was a little boy named...
2119716    once upon a time, there was a big tree. under ...
2119717    once upon a time, there was a little girl name...
2119718    once upon a time, there was an adorable little...
Name: text, Length: 2119719, dtype: object